body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background: #f8f0ff;
}

/* Splash */
.splash {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.splash-container {
    text-align: center;
}

.btn {
    padding: 10px 15px;
    background: #a6c1ee;
    color: white;
    border-radius: 10px;
    display: inline-block;
    margin-top: 15px;
}

.card {
    padding: 15px;
    margin-top: 15px;
    border-radius: 10px;
}

.pastel-rosa { background: #ffd6e7; }
.pastel-azul { background: #dbeafe; }
.pastel-verde { background: #d1fae5; }

.btn-opcion {
    margin: 8px;
    padding: 10px;
    background: #c4b5fd;
    border-radius: 10px;
}

.volver {
    display: block;
    margin-top: 20px;
    text-align: center;
}
